@use 'variables' as v;

@keyframes maincourses {
  @for $i from 0 through v.$starters-count {
    #{calc($i * 100 / v.$starters-count)}% {
      transform: translateY(calc(($i - v.$starters-count) * v.$translateY-unit));
    }
  }
}

@keyframes desserts {
  @for $j from 0 through (v.$starters-count + v.$maincourses-count) {
    #{calc($j * 100 / (v.$starters-count + v.$maincourses-count))}% {
      transform: translateY(calc(($j - (v.$starters-count + v.$maincourses-count)) * v.$translateY-unit));
    }
  }
}

@keyframes dish {
  from {
    transform: perspective(1000px) rotateX(90deg);
  }
  to {
    transform: perspective(1000px) rotateX(0deg);
  }
}