//colors
$main-col: #9356DC;
$second-col: #FF79DA;
$third-col: #99E2D0;
$third-col-dk: #008766;
$light-col: #FFFFFF;
$dark-col: #353535;

$main-bg-col: #F6F6F6;
$alt-bg-col: #FFFFFF;
$lt-dark-bg-col: #EAEAEA;
$dark-bg-col: #353535;

$btn-bg: linear-gradient(to bottom,  $second-col 0%, $main-col 100%);

// dimensions
$max-site-width: 1080px;