@use 'abstracts/variables' as v;
// @use 'abstracts/functions';
// @use 'abstracts/mixins';
// @use 'abstracts/placeholders';

@use 'base/reset';
@use 'base/typography';

// @use 'layout/grid';
// @use 'layout/header';
// @use 'layout/footer';
// @use 'layout/sidebar';
// @use 'layout/forms';

@use 'components/buttons';

// @use 'pages/home';
// @use 'pages/contact';

// @use 'themes/theme';
// @use 'themes/admin';



html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: v.$main-bg-col;
}

.main-container {
  width: 100%;
}
