@use '../abstracts/variables' as v;

.footer{
  &__page {
    background-color: v.$dark-bg-col;
    color: v.$light-col;
  }

  &__logo {
    //make it white as fill prop doesn't apply on img svg
    filter: invert(1) sepia(1) saturate(0);
    width: 98px;
  }
}
