@use '../abstracts/variables' as v;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: v.$main-bg-col;
}

.main-container {
  width: 100%;
}

.tutorial {
  background-color: v.$alt-bg-col;
}

.presentation, .tutorial, .restaurants, .footer__page {
  padding-left: v.$lateral-sides;
  padding-right: v.$lateral-sides;
}