@use "../abstracts/variables" as v;
@use '../abstracts/mixins' as mx;

.cta {
  @include mx.center-by-flex;
  color: v.$light-col;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  .cta__text{
    background: v.$btn-bg;
    @include mx.button-like(2rem, 0px, 4px, 10px, 0.25);
    padding: 1rem 1.5rem;
    transition: box-shadow 200ms;
  }
  &::before{
    @include mx.before-after;
    @include mx.button-like(2rem, 0px, 0px, 0px, 0);
    background-color: white;
    opacity: 0;
    transition: opacity 400ms;
  }
  &:hover {
    .cta__text {
      @include mx.button-like(2rem, 0px, 4px, 15px, 0.35);
    }
    &::before {
      opacity: 0.15;
    }
  }
}

.liking {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  @include mx.center-by-flex;
  align-self: baseline;
  position: relative;
  &::before {
    @include mx.before-after;
    background-image: url('../images/icons/like-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    transform: scale(0%);
    transition: transform 300ms cubic-bezier(.78,0,.61,1.28);
  }
  img {
    opacity: 1;
    transition: opacity 300ms cubic-bezier(.78,0,.61,1.28);
  }
  &:hover {
    &::before {
      transform: scale(100%);
    }
    img {
      opacity: 0;
    }
  }
}