@use "../abstracts/variables" as v;
@use '../abstracts/mixins' as mx;

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  background: v.$btn-bg;
  color: v.$light-col;
  font-size: 1rem;
  font-weight: 500;
  @include mx.button-like(1.5rem, 0px, 4px, 10px, 0.25);
}