@use '../abstracts/variables' as v;

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.presentation, .tutorial, .restaurants, .card {
  &__title{
    font-weight: 700;
    font-size: v.$fz-1;
  }
}

.presentation__title{
  @media (min-width: v.$desktop) {
    font-size: 2.5rem;
  }
}

.card__title{
  font-size: v.$fz-2;
}

.tutorial__step {
  font-weight: 500;
}

.restaurant__content {
  .card__tile {
    font-size: v.$fz-2;
  }
  p {
    font-size: v.$fz-3;
  }
}

// pages restaturant
.page-restaurant {
  .presentation {
    text-align: left;
    &__title {
      font-family: 'Shrikhand', serif;
      font-size: 1.75rem;
      font-weight: 400;
    }
  }
}