@charset "UTF-8";
/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

body {
  font-family: "Roboto", serif;
  font-weight: 300;
}

.presentation__title, .tutorial__title, .restaurants__title, .card__title {
  font-weight: 700;
  font-size: 1.5rem;
}

.card__title {
  font-size: 1.125rem;
}

.tutorial__step {
  font-weight: 500;
}

.restaurant__content .card__tile {
  font-size: 1.125rem;
}
.restaurant__content p {
  font-size: 1.063rem;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #F6F6F6;
}

.main-container {
  width: 100%;
}

.tutorial {
  background-color: #FFFFFF;
}

.presentation > *, .tutorial > *, .restaurants > *, .footer__page > * {
  max-width: 91%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .presentation > *, .tutorial > *, .restaurants > *, .footer__page > * {
    max-width: 80%;
  }
}
@media (min-width: 1024px) {
  .presentation, .tutorial, .restaurants, .footer__page {
    padding-left: 25px;
    padding-right: 25px;
  }
  .presentation > *, .tutorial > *, .restaurants > *, .footer__page > * {
    max-width: 1080px;
  }
}

header {
  position: relative;
}

.logoZone {
  background-color: #FFFFFF;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}

.logoZone__image {
  width: 162px;
}

.geozone {
  background-color: #EAEAEA;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.geozone__text {
  font-size: 1rem;
  font-weight: 500;
  color: #353535;
  position: relative;
  padding-left: 1.5rem;
  background-image: url("../images/icons/pin-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
}

.footer__page {
  background-color: #353535;
  color: #FFFFFF;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}
.footer__logo {
  filter: invert(1) sepia(1) saturate(0);
  width: 98px;
  padding-bottom: 0.5rem;
}
.footer__nav li {
  font-weight: 400;
}
.footer__nav li:not(:last-child) {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.footer__nav .isDecorated li {
  font-weight: 500;
}
.footer__nav .proposing {
  position: relative;
  padding-left: 1.3rem;
  background-image: url("../images/icons/ustensils-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
}
.footer__nav .partnership {
  position: relative;
  padding-left: 1.3rem;
  background-image: url("../images/icons/handshake-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}
.cta .cta__text {
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  border-radius: 2rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem 1.5rem;
  transition: box-shadow 200ms;
}
.cta::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 2rem;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  background-color: white;
  opacity: 0;
  transition: opacity 400ms;
}
.cta:hover .cta__text {
  border-radius: 2rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.cta:hover::before {
  opacity: 0.15;
}

.presentation {
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
  text-align: center;
}
.presentation__title {
  width: 80%;
  margin: 0 auto 1.25rem;
}
.presentation__text {
  margin: 0 auto 1.7rem;
  font-size: 1.125rem;
}

.tutorial {
  padding-top: 3.125rem;
  padding-bottom: 2.5rem;
}
.tutorial__title {
  margin-bottom: 1.3rem;
}
.tutorial__list {
  padding-left: 0.75rem;
}
.tutorial__step {
  margin-bottom: 1.3rem;
  padding: 1.7rem 0 1.7rem 2.1rem;
  background: #F6F6F6;
  position: relative;
  border-radius: 1.25rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.tutorial__step--1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  content: "1";
  font-size: 0.875rem;
  color: #FFFFFF;
  top: 1.7rem;
  right: auto;
  bottom: auto;
  left: -0.75rem;
  background-color: #9356DC;
  border-radius: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutorial__step--1 p {
  position: relative;
  padding-left: 2.5rem;
  background-image: url("../images/icons/tuto-icon-1.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
}
.tutorial__step--2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  content: "2";
  font-size: 0.875rem;
  color: #FFFFFF;
  top: 1.7rem;
  right: auto;
  bottom: auto;
  left: -0.75rem;
  background-color: #9356DC;
  border-radius: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutorial__step--2 p {
  position: relative;
  padding-left: 2.5rem;
  background-image: url("../images/icons/tuto-icon-2.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
}
.tutorial__step--3::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  content: "3";
  font-size: 0.875rem;
  color: #FFFFFF;
  top: 1.7rem;
  right: auto;
  bottom: auto;
  left: -0.75rem;
  background-color: #9356DC;
  border-radius: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutorial__step--3 p {
  position: relative;
  padding-left: 2.5rem;
  background-image: url("../images/icons/tuto-icon-3.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
}

.restaurants {
  padding-top: 3.125rem;
  padding-bottom: 4.125rem;
}
.restaurants__title {
  margin-bottom: 1.625rem;
}

.restaurant__card {
  margin-bottom: 1.125rem;
  border-radius: 0.95rem;
  background: #FFFFFF;
}
.restaurant__card > a {
  display: block;
  position: relative;
}
.restaurant__card .flagNew {
  color: #008766;
  padding: 0.4rem 0.7rem;
  background: #99E2D0;
  border-radius: 0.125rem;
  font-size: 0.875rem;
  font-weight: 500;
  position: absolute;
  top: 0.813rem;
  right: 0.813rem;
}
.restaurant__image {
  border-radius: 0.95rem 0.95rem 0 0;
  object-fit: cover;
  width: 100%;
  height: 174px;
  display: block;
}
.restaurant__content {
  display: block;
  margin: 1rem 0.8rem 0;
  padding-bottom: 1rem;
  position: relative;
}
.restaurant__content .card__title {
  margin-bottom: 0.2rem;
}
.restaurant__content .like__satus {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../images/icons/unlike-icon.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0.75rem;
}
.restaurant__content .like__satus--enabled {
  background-image: url("../images/icons/like-icon.png");
}

/*# sourceMappingURL=style.css.map */
